/* Mainly for Game Description*/
body {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#wrapper {
	padding: 0px;
	margin: 0px;
}

p, li, td{
	font: 12px Tahoma;
}
h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
}
hgroup * {
	padding: 3px
}
h4{
	font: bold 14px Tahoma;
}
h3 {
	font: bold 18px Tahoma;
}
h2 {
	font: bold 20px Tahoma;
}
h1 {
	font: bold 28px Tahoma;
}
a , a:hover, a:visited, a:link, a:active{
	color: blue;
}

/* Mainly for Game Grid */
#gameGrid {
	border: 1px solid black;
	border-collapse: collapse;
}
#gameGrid td {
	margin: 0px;
	padding: 0px;
	width: 20px;
	height: 20px;
}