/* Mainly for Game Description*/
body {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#wrapper {
	padding: 0px;
	margin: 0px;
}

#gameMenu {
	float: left;
	background-color: beige;
	border: 1px solid black;
	padding: 5px;
	max-width: 130px;
	height: 100%;
}

#game{
	float: left;
	margin: 10px 0 0 10px;
}

input[type=number]{
	width: 40px;
}

p, li, td{
	font: 12px Tahoma;
}
h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
}
hgroup * {
	padding: 3px
}
h4{
	font: bold 14px Tahoma;
}
h3 {
	font: bold 18px Tahoma;
}
h2 {
	font: bold 20px Tahoma;
}
h1 {
	font: bold 28px Tahoma;
}
a , a:hover, a:visited, a:link, a:active{
	color: blue;
}

#custHeightError, #custWidthError, #custMinesError {
	color: red;
}

/* Mainly for Game Grid */
#gameGrid {
	border: 1px solid black;
	border-collapse: collapse;
}
#gameGrid td {
	margin: 0px;
	padding: 0px;
	width: 20px;
	height: 20px;
}
.empty{
	background-image:url(img/Empty.png);
}
.mine1{
	background-image:url(img/1mine.png);
}
.mines2{
	background-image:url(img/2mines.png);
}
.mines3{
	background-image:url(img/3mines.png);
}
.mines4{
	background-image:url(img/4mines.png);
}
.mines5{
	background-image:url(img/5mines.png);
}
.mines6{
	background-image:url(img/6mines.png);
}
.mines7{
	background-image:url(img/7mines.png);
}
.mines8{
	background-image:url(img/8mines.png);
}
.unexplored{
	background-image:url(img/Unexplored.png);
}
.maybe{
	background-image:url(img/Maybe.png);
}
.flagged{
	background-image:url(img/Flagged.png);
}
.mine{
	background-image:url(img/Mine.png);
	position: relative;						/* Need this to display animation. */
	width: 20px;
	height: 20px;
}
.crater {
	background-image:url(img/Crater.png);
	position: relative;						/* Need this to display animation. */
	width: 20px;
	height: 20px;
}
.gr-empty{
	background-image:url(img/gr-Empty.png);
}
.gr-mine1{
	background-image:url(img/gr-1mine.png);
}
.gr-mines2{
	background-image:url(img/gr-2mines.png);
}
.gr-mines3{
	background-image:url(img/gr-3mines.png);
}
.gr-mines4{
	background-image:url(img/gr-4mines.png);
}
.gr-mines5{
	background-image:url(img/gr-5mines.png);
}
.gr-mines6{
	background-image:url(img/gr-6mines.png);
}
.gr-mines7{
	background-image:url(img/gr-7mines.png);
}
.gr-mines8{
	background-image:url(img/gr-8mines.png);
}
.gr-unexplored{
	background-image:url(img/gr-Unexplored.png);
}
.gr-maybe{
	background-image:url(img/gr-Maybe.png);
}
.gr-flagged{
	background-image:url(img/gr-Flagged.png);
}
.gr-mine{
	background-image:url(img/gr-Mine.png);
	position: relative;						/* Need this to display animation. */
	width: 20px;
	height: 20px;
}
.gr-crater {
	background-image:url(img/gr-Crater.png);
	position: relative;						/* Need this to display animation. */
	width: 20px;
	height: 20px;
}
.explode{
	background-image:url(img/Explosion.png);
	-webkit-animation: explosion 3s linear;
	-moz-animation: explosion 3s linear;
	-ms-transform: explosion 3s linear;
	-o-animation: explosion 3s linear;
	animation: explosion 3s linear;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20px;
	height: 20px;
}
.smoke {
	background-image: url(img/Smoke.png);
	-webkit-animation: smoking 1s infinite;
	-webkit-animation-delay: 2s;
	-moz-animation: smoking 1s infinite;
	-moz-animation-delay: 2s;
	-ms-animation: smoking 1s infinite;
	-ms-animation-delay: 2s;
	-o-animation: smoking 1s infinite;
	-o-animation-delay: 2s;
	animation: smoking 1s infinite;
	animation-delay: 2s;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20px;
	height: 20px;
}
@keyframes explosion {
	0% {
		-webkit-transform: scale(0) rotate(0deg);	/*Chrome 4.0+, Safari 3.2+, Opera 15.0+*/
		-moz-transform: scale(0) rotate(0deg);		/*Firefox 3.5+*/
		-ms-transfrom: scale(0) rotate(0deg);		/*IE 9.0+*/
		-o-transform: scale(0) rotate(0deg);		/*Opera 10.5+*/
		transform: scale(0) rotate(0deg);			/*Chrome 36.0+, Edge 12.0+, IE 10.0+, Firefox 16.0+, Opera 23.0+*/
		opacity: 1;
	}
	50% {
		-webkit-transform: scale(1) rotate(1turn);
		-moz-transform: scale(1) rotate(1turn);
		-ms-transform: scale(1) rotate(1turn);
		-o-transform: scale(1) rotate(1turn);	
		transform: scale(1) rotate(1turn);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(0) rotate(2turn);
		-moz-transform: scale(0) rotate(2turn);
		-ms-transform: scale(0) rotate(2turn);
		-o-transform: scale(0) rotate(2turn);	
		transform: scale(0) rotate(2turn);
		opacity: 0;
	}
}
@keyframes smoking {
	0% {
		-webkit-transform: skewX(0deg);
		-moz-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
		-o-transform: skewX(0deg);
		transform: skewX(0deg);
		opacity: 0.6;
	}
	
	50% {
		-webkit-transform: skewX(20deg);
		-moz-transform: skewX(20deg);
		-ms-transform: skewX(20deg);
		-o-transform: skewX(20deg);
		transform: skewX(20deg);
		opacity: 0.6;
	}
	100% {
		-webkit-transform: skewX(-20deg);
		-moz-transform: skewX(-20deg);
		-ms-transform: skewX(-20deg);
		-o-transform: skewX(-20deg);
		transform: skewX(-20deg);
		opacity: 0.6;
	}
}